<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denis The Java Tech</title>
</head>

<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center" valign="top" bgcolor="rgb(203, 242, 233)"
				style="background-color: white;"><br> <br>
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center" valign="top" bgcolor="rgb(203, 242, 233)"
							style="background-color: rgb(203, 242, 233); font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; padding: 0px 15px 10px 15px;">
							
							<div style="font-size: 30px; color:black;">
								<b>Send Email through SpringBoot</b>
							</div>
							
							<div style="font-size: 24px; color: black;">
								<br> Sending Email using Spring Boot with <b>FreeMarker
									template !!! <br>
							</div>
							<div>
								<br> This project mini project by Denis Gichana was done through springboot coupled with some dependencies like lombok,mail,freemarker and devtools"<br>
								<br>to check out the developers portfolio follow link below <br>
								<a href="http://dennoh.liveblog365.com/Denis%20Gichana%20Portfolio/">Portfolio</a> <br><br>
							</div>
						</td>
					</tr>
				</table> <br> <br></td>
		</tr>
	</table>
</body>
</html>
